### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
.gradle
/build/
/frontend/build/
/backend/build
/dist/
.idea

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Stakpak session files
.stakpak/session*
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/shared/build/classes/java/main/com/aleph/graymatter/jtyposquatting/net/DomainName.class
/shared/build/classes/java/main/com/aleph/graymatter/jtyposquatting/dto/DomainPageDTO.class
/shared/build/classes/java/main/com/aleph/graymatter/jtyposquatting/dto/GenerationRequestDTO.class
/shared/build/classes/java/main/com/aleph/graymatter/jtyposquatting/InvalidDomainException.class
/shared/build/tmp/jar/MANIFEST.MF
/shared/build/tmp/compileJava/previous-compilation-data.bin
/shared/build/libs/shared-2.0-alpha1.jar
/backend/typosquatting_db.mv.db
/PortKiller.class
